<div class="container minheight">
  <div class="col-sm-4">
    <app-coloumn  [heading]="'To Do'" [id]="'todoTask'" [arraytoprint]="todoTasksArr" (newTask)="onSubmit($event,'todo')" ></app-coloumn>
  </div>
  <div class="col-sm-4">
     <app-coloumn  [heading]="'In Progress'" [id]="'progressTask'" (newTask)="onSubmit($event,'progress')" [arraytoprint]="progressTasksArr"></app-coloumn>
  </div>
  <div class="col-sm-4">
     <app-coloumn  [heading]="'Done'" [id]="'doneTask'" (newTask)="onSubmit($event,'done')" [arraytoprint]="doneTasksArr"></app-coloumn>
  </div>
</div>
